<!--Main Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="/Assests/images/logo3.png" class="pr-1" width="65" height="50"/>
    <a class="navbar-brand" href="/"><b> COMP229</b></a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      <!--To make the home page active useing if else statement-->
        <% if(title=="Home"){ %>s
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i> Home</a>
        </li>
<!--To make the About page active useing if else statement-->
       <% if(title=="About"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
        </li>

        <!--To make the Projects page active useing if else statement-->
        <% if(title=="Projects"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>
          <a class="nav-link" href="/projects"><i class="far fa-newspaper"></i> Projects</a>
        </li>
        <!--To make the Services page active useing if else statement-->
        <% if(title=="Services"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-hands-helping"></i> Services</a>
        </li>

       <!--To make the Contact page active useing if else statement--> 
        <% if(title=="Contact"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>

        <!--To make the business Contact page active useing if else statement--> 
        <% if(title=="Business Contact List"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item"></li>
        <% } %>
        <!--Using fontawsome to use icon-->
          <a class="nav-link" href="/contact-list"><i class="far fa-address-card"></i></i> Business Contact</a>
        </li>
    <!--log in and log out information on the nav bar-->
        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text" style="color: pink"><i class="fas fa-lg fa-user" style="color:pink"></i> Welcome, <%= displayName %></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>
    </div>
  </nav>