<br><div class="container">
    <ul style="list-style-type:square">
        <li><b>Software Requirement Analysis</b>
        <p class="text-justify">Designed and modeled a Software Requirement Specification (SRS) 
        for a neighborhood service to search available neighborhoods for resident’s 
        using different software diagramming tools.</p>
        </li>
        <li><b>Databse using Oracle 12C</b>
           <p class="text-justify">Designed and developed an Oracle database for a medical center 
           to manage the patients’, doctors’, appointment, and medication information using 
           Oracle SQL Developer 12C.</p>
        </li>
        <li><b>Web Page using HTML5, CSS, and JavaScript</b>
        <p class="text-justify">Developed a website for a local real state agent and a restaurant using HTML5, CSS, 
        and JavaScript that uploaded to the student web server using FTP applications.</p>
        <li><b>Claculator using Windows Application Forms</b>
        <p class="text-justify">Developed a software application for BMI (Body Measurement Index) calculation to accept and 
        edit inputs, and compile information using .Net Language and Windows form application.</p>            
        </li>
    </ul>
</div>
<div align="center">
    <h1>What Else I love to Do..</h1>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/mio-_RyxOyQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/lS4iHT7WG-Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480"src="https://www.youtube.com/embed/RcmrbNRK-jY" frameborder="0" allowfullscreen></iframe>
    </div>   
</div>