<div align="center">
      <h2 class="display-4"><b>Salvia Rahman</b></h2>
      <p><h4>COMP229-005-Web Application Development</h4></p>
      <p><h5>Mission Statement: Acquire Knowledge and Skills on Technology and Utilize them in Professional Career.</h5></p>
      </div>
      <img src="/assests/images/homepage.jpg" class="img-fluid"alt="Responsive image"><!--image location-->

