<br><div class="container">
    <ul style="list-style-type:square">
        <li><b>General Programming Knowledge</b>
        <p class="text-justify">Knowledge in C#, Java, Python, bash scripting, CLI, 
        HTML5, CSS, SQL, and JavaScript.
        Developed a software application for BMI (Body Measurement Index) calculation</p>
        </li>
        <img src="/Assests/images/coding.jpg" alt="coding" class="img-thumbnail"> <br>
        
        <li><b>Web Development Skill</b>
           <p class="text-justify">Developed a website for a local real state agent and a restaurant. Hence, I can easily 
           help you to built a praimary webpage</p>
        </li>
        <img src="/Assests/images/webpage.png" alt="webpage" class="img-thumbnail"> 

    </ul>
</div>